[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
MarkupSafe = ">=1.1.1"
gunicorn = "*"
Flask = "*"
PyYAML = "*"

[dev-packages]

[requires]
python_version = "3.6"

[scripts]
start = "gunicorn -w 2 --threads 2 --worker-connections 1000 --timeout 120 -b 0.0.0.0:80 jinjabread.app:app"
build = "docker build -t jinjabread:latest -f docker/Dockerfile ."
