{% include 'header.html' %}

{% include 'menu.html' %}

<!-- Page Content  -->
<form action="" name="render" method="post">
<div class="container-fluid fill">
}
    <div class="row" > <!--  -->
        <div class="col-xs-2 col-sm-2"><!--<div class="form-group">--><!--<div class="row" >  style="width:600px"> -->
            <label for="grains" style="color:white; font-family:Consolas">Grains:</label>
                <textarea id="grains" name="grains">{{ formdata['grains'][0] }}</textarea></div>


        <div class="col-xs-2 col-sm-2">
            <label for="pillar" style="color:white; font-family:Consolas">Pillar:</label>
                <textarea id="pillar" name="pillar">{{ formdata['pillar'][0] }}</textarea></div>


        <div class="col-xs-5 col-sm-5">
            <label for="state" style="color:white; font-family:Consolas">State:</label>
                <textarea id="state" name="state" >{{ formdata['state'][0]  }}</textarea></div>

        
        <div class="col-xs-3 col-sm-3">
            <label for="output" style="color:white; font-family:Consolas">Output:</label>
                <textarea id="output" name="output" >{{ output[0] }} </textarea>

            
        </div>
    </div><!-- /.row -->

    <div class="row" >
        <div class="col-xs-6 col-sm-6" onKeyPress="return checkSubmit(event)">
            <br />
            <input type="submit" value="ctrl+b to render state" class="btn btn-primary" style="background-color:#695112; border-color:#7e721c">
            <br />
            <p style="color:#8B8A68"> Maintainer: Christopher Baklid </p>
        </div>
        <div class="col-xs-6 col-sm-6">

            <!-- {{ output[1] }} -->
        </div>    
    </div>
</div><!-- /.container -->
</form>

{% include 'footer.html' %}